#wrap{width: 1200px;}

header{width: 1200px; height: 100px;}

.search{width: 300px; height: 100px;}

.logo{width: 600px; height: 100px;}

.the-man{color: rgb(66, 62, 62)}

.top-menu{width: 300px; height: 100px;}

.menu-text{font-size: 15px; color:#888}

.menu-text:hover{text-decoration: none; color:dimgray}


.menu{width: 1200px; height: 50px; background-color: rgb(199, 199, 199);}

.menu-font{font-size: 20px; color: rgb(66, 62, 62); font-weight: bolder;}

.menu-font2{font-size: 16px; color: rgb(0, 0, 0); font-weight: bolder;}

.menu-font:hover{text-decoration: none; color: black;}

.banner{height: 644px;}

.product{width:1200px; height: 2500px;}

footer{height: 100px;}