/*1. 초기화하기*/

    * {
        margin: 0; padding: 0;
        font-family: '맑은 고딕', 'Malgun Gothic', Gothic, sans-serif;
    }

    a { text-decoration: none; }

    li { list-style: none; }

    .pull-left { float: left; }
    .pull-right { float: right; }
    


/*2. 페이지 구성하기 */

    body {
        width: 960px; margin: 0 auto;
        background: #e6e6e6;
    }

    #page-wrapper {
        background: white;
        margin: 40px 0; padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    }



/*3. 헤더 구성하기*/

    #main-header { padding: 40px 50px; }

    .master-title {
        font-size: 30px;
        color: #181818;
    }

    .master-description {
        font-size: 15px; font-weight: 500;
        color: #383838
    }



/*4. 내비게이션 및 풀다운 메뉴 구성하기*/

    #main-navigation {
        border-top: 1px solid #c8c8c8;
        border-bottom: 1px solid #c8c8c8;
        margin-bottom: 20px;
        height: 40px; /* 높이를 강제로 지정 */
    }

    .outer-menu-item {
        float: left; /* 수평 정렬 */
        position: relative;
    }

    .outer-menu-item:hover {
        background: black;
        color:white;
    }

    .menu-title {
        display: block;
        height: 30px; line-height: 30px;
        text-align: center;
        padding: 5px 20px;
    }

    .inner-menu {
        display: none;
        position: absolute;
        top: 40px; left: 0;
        width: 100%;
        background: white;
        box-shadow: 0 2px 6px rgba(5,5,5,0.9);
        z-index: 1000;
        text-align: center;
    }

    .inner-menu-item > a {
        display: block;
        padding: 5px 10px;
        color: black;
    }

    .inner-menu-item > a:hover {
        background: black;
        color: white;
    }



/*6. 본문 추가하기 (중앙 내용)*/

    #content { overflow: hidden; }

    #main-section {
        float: left;
        width: 710px;
    }

    #main-aside {
        float: right;
        width: 200px;
    }

   

/* 6. 본문 추가하기 (본문 포스트 위쪽)*/

    article {
        padding: 0 10px 20px 10px;
        border-bottom: 1px solid #c8c8c8;
    }

    .article-header { padding: 20px 0; }

    .article-title {
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 10px;
    }

    .article-date { font-size: 13px; }
    
    .article-body { font-size: 14px; }



/* 6. 본문 추가하기 (사이드 메뉴) */

    .aside-list { padding: 10px 0 30px 95px };

    .aside-list > h3 {
        font-size: 15px;
        font-weight: 600;
    }
    
    .aside-list li a {
        margin-left: 8px;
        font-size: 13px;
        color: #6c6c6c
    }

    #aside-last{  /*고정 바 기능*/
        position: fixed;
        bottom: 60px;
    }